.Recipes__box {
    background: #fff;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
    text-align: left;
    overflow: hidden;
    .Recipes__box-img {
      height: 300px;
      object-fit: revert;
      width: 100%;
    }
  
    .Recipes__text {
      margin-left: 15px;
  
      .Recipes__title {
        color:  #429e44;
        text-transform: uppercase;
        font-size: 1.1rem;
        padding: 1.8rem 0 0.2rem 0;
      }
  
      .Recipes__subtitle {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8rem;
        letter-spacing: 2px;
      }
    }
    .Recipes__buttons {
      display: flex;
      justify-content: space-between;
    }
  
    .Recipes__subtitle span {
      text-transform: none;
      font-weight: 400;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
  }
  .Recipes__no-recipe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70vh;
    letter-spacing: 2px;
  }