.Button {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.4rem 0.9rem;
    margin: 5px 10px;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .Button {
      font-size: 12px;
      line-height: normal;
    }
  }
  