@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
  background:#f3f3f3;
}


img {
  width: 100%;
  height: 220px;
}

a {
  color: #e74c3c !important;
}

button:focus {
  outline: none;
}


input[type="text"] { 
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

